html {
    scroll-behavior: smooth;
}

.content-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.sidebar {
    display: flex;
    position: fixed;

    top: 93px; /* Adjust this based on your top bar height */
    bottom: 73px; /* Adjust this based on your bottom bar height */
    left: 1%;
    right: 84%;

    flex-direction: column;
    align-items: flex-start; /* Align everything to the left */
    padding-left: 1rem;
}

/* Center card content styling */
.center-card-content {
    width: 100%;
    margin-bottom: 1rem; /* Space between the center card and the links */
}

/* Links content styling */
.links-content {
    width: 100%;
}
