.main-content {
    position: fixed;
    top: 93px; /* Adjust this based on your top bar height */
    bottom: 73px; /* Adjust this based on your bottom bar height */
    left: 18%;
    right: 2%;
    background-color: #f5f5f5;
    background-size: cover;
    border-radius: 20px;
    overflow-y: auto; /* enables scrolling */
    padding: 20px; /* Adjust the distance of content from the edges */
}


.main-content .font-header {
    font-size: 1rem;
    font-weight: bold;
}


.main-content .font-header:hover {
    font-size: 1.1rem;
    font-weight: bold;
}

.main-content h1 {
    /* add underline to the text */
    text-decoration: underline;
    cursor: pointer;
}

.main-content h2 {
    cursor: pointer;
}

.main-content h1:hover {
    /* change style to italic */
    font-style: italic;
}


