/* Define a custom class for special hyperlinks */
.top-bar-link {
    color: white; /* Set the text color */
    padding: 2px 4px; /* Optional: Add padding around the link */
    border-radius: 4px; /* Optional: Add rounded corners */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
    text-decoration: none;
    position: relative; /* Needed to position the ::after element */
    display: inline-block; /* Ensure the link dimensions are calculated correctly */
    font-style: normal; /* Ensure text is not italic */
    font-size: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

/* Create the underline effect */
.top-bar-link::after {
    content: ""; /* Empty content */
    position: absolute;
    bottom: 0; /* Position at the bottom of the text */
    left: 50%; /* Start from the center */
    width: 0; /* Initial width is 0 */
    height: 2px; /* Thickness of the underline */
    background-color: #eee0fb; /* Color of the underline */
    transition: width 0.3s ease; /* Smooth transition for width */
    transform: translateX(-50%); /* Ensure it starts from the middle */
    transform-origin: center; /* Origin for scaling transformation */
    text-decoration: none; /* Remove default underline */
}

/* Hover effect */
.top-bar-link:hover::after {
    width: 100%; /* Expand the underline to full width of the text */
    text-decoration: none; /* Remove default underline */
}

.top-bar-link:hover {
    color: #eee0fb; /* Change text color on hover */
    text-decoration: none; /* Remove default underline */
}


.nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-style: normal; /* Ensure text is not italic */
}

.nav-links a:hover {
    text-decoration: none;
}
/* top bar elements */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(61, 60, 60); /* Or any color you prefer */
    color: #eee0fb;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}


.logo {
font-size: 1.5rem;
font-weight: bold;
}
  